.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.productForm {
    margin-top: 20px;
    border-radius: 12px;
    border: 1px solid var(--main-green);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);;
    padding: 20px;
    width: 90%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    /* Include padding and border in the element's total width and height */
}

.userProfileCard {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    margin: 1rem 0;
}

.userAvatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    border: solid 2px #405142;
}

.userInfo {
    flex: 1;
}

.userName {
    margin-bottom: 8px;
    font-size: 1.5rem;
    text-align: left;
}

.userEmail {
    color: #666;
    margin-bottom: 16px;
}

@media only screen and (min-width: 600px) {
    .features {
        display: flex;
        justify-content: space-around;
    }
}