.card {
  padding: 20px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.cardContent:hover {
  transform: scale(1.05);
}

.cardContent {
  background-color: var(--light-background);
  padding: .5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.cartitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 15px;
}

.card-image {
  width: 90%;
  height: auto;
  border-radius: 8px;
  text-align: center;
}

.price {
  background-color: var(--dark-brown);
  color: #fff;
  width: fit-content;
  margin: .5rem auto;
  border-radius: 5px;
}
  
.cat {
  font-size: 0.8rem;
  padding: 4px 8px;
  background-color: #e6e6e6;
  border-radius: 4px;
  margin-bottom: .5rem;
}

.seller {
  text-align: center;
  padding: 1rem;
}